[user]
	email = me@martinfranc.eu
	name = Martin Franc
[core]
	excludesfile = /home/francma/.gitignore
[merge]
	tool = smerge
[pull]
	rebase = false
[log]
	date = format:%Y-%m-%d %H:%M
[format]
	pretty = format:%C(auto,yellow)%h%C(auto,magenta)%  %C(auto,blue)%ad %C(auto,green)%<(15,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D
