[user]
	email = me@martinfranc.eu
	name = Martin Franc
[core]
	excludesfile = /home/francma/.gitignore
[merge]
	tool = smerge
[pull]
	rebase = false
[log]
	date = relative
[format]
	pretty = format:%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(15,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D
