let mapleader=","

set number relativenumber
set commentary
set highlightedyank
set multiple-cursors
set idearefactormode keep
set ideajoin true

nmap gd <Action>(GotoDeclaration)
nmap gr <Action>(FindUsages)
nmap gi <Action>(QuickImplementations)
nmap gv <Action>(opennInSplittedTab)

nmap <leader>rn <Action>(RenameElement)

nmap <leader>rf <Action>(ReormatCode)
xmap <leader>rf <Action>(ReformatCode)

nmap <leader>ss <Action>(SearchEverywhere)
nmap <leader>sf <Action>(GotoFile)
nmap <leader>sc <Action>(GotoClass)
nmap <leader>sa <Action>(GotoAction)

map <leader>tt <Action>(RunClass)

set ideastatusicon=gray